.recommended-friends {
  margin: 25px 0px 0px 0px;
  border-bottom: var(--main-border);
  border-top: var(--main-border);
  padding-top: 20px;
  transition: var(--all-trans);
}
.recommended-friends__title {
  font-size: 20px;
  color: var(--font-grey);
  font-weight: 600;
}
.recommended-friends span {
  display: block;
  text-align: center;
  padding: 80px 0px;
  font-size: 23px;
  color: var(--font-grey);
  font-weight: 600;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: var(--font-grey);
  font-weight: 600;
  margin-bottom: 25px;
}
.open-chat span {
  opacity: 0.6;
  transition: var(--all-trans);
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
iframe {
  padding-left: 80px;
}
/*
.open-post__title {
  font-size: 30px;
  font-weight: 600;

  margin-bottom: 10px;
}
.open-post__hash {
  text-transform: uppercase;
  font-size: 25px;
  opacity: 0.4;
  font-weight: 500;
  margin-bottom: 10px;
}
.open-post__members {
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 30px;
  height: 30px;
  border-radius: 40%;
  margin-right: 8px;
}
.open-post__members-count {
  color: var(--font-grey);
  font-size: 20px;
  font-weight: 600;
}
.open-post__members .divider {
  width: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 18px;
  margin: 0px 7px;
}
.open-post__members-status {
  font-size: 20px;
  font-weight: 600;
  color: darkorchid;
}
.open-post__column:last-child {
  position: relative;
}

.open-post__column:last-child img {
  width: 130px;
  height: 130px;
  border-radius: 10%;
}
.open-post__column:last-child span {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 700;
  font-size: 17px;
  border-radius: 15px;
  padding: 5px 10px;
  position: absolute;
  bottom: 8px;
  left: 57px;
}
.open-post__column:last-child i {
  margin-right: 5px;
}

@keyframes heartbeat {
  0% {
    color: palevioletred;
    transform: none;
  }
  50% {
    color: white;
    transform: scale(1.5);
  }
  100% {
    color: palevioletred;
    transform: none;
  }
}

.open-post__column:last-child:hover i {
  animation: heartbeat 1s linear infinite;
}
*/
.recommended-friends__title:hover,
.open-chat__header h4:hover,
.open-chat__header span:hover {
  color: crimson;
}
