#friends-display-link {
  text-align: center;
  display: block;

  padding: 20px 0px;
  font-size: 20px;
  font-weight: 600;

  margin-top: -15px;
  transition: all 0.5s ease-in-out;
}

#friends-display-link i {
  margin-left: 15px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding: 20px 0px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  transition: var(--all-trans);
  font-weight: 600;
  font-size: 18px;
}

#friends-display-link:hover {
  background-color: rgba(177, 180, 184, 0.8);
  color: midnightblue;
}
.friends-screen__channel-header span:hover,
.friends-screen__channel-header i:hover {
  color: crimson;
}

@keyframes starbanjjak {
  0% {
    color: white;
    transform: none;
    opacity: 0.5;
  }

  50% {
    transform: scale(2);
    color: darkgreen;
    opacity: 0.8;
  }
  100% {
    color: white;
    transform: none;
    opacity: 0.5;
  }
}

.banjjak {
  animation: starbanjjak 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  will-change: transform;
}
.banjjak-box {
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
  position: relative;
  top: -20px;
}

.banjjak-box2 {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: -15px;
}
@keyframes starbanjjakR {
  0% {
    transform: scale(2);
    color: rgb(219, 145, 7);
    opacity: 0.8;
  }

  50% {
    color: white;
    transform: none;
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    color: rgb(219, 145, 7);
    opacity: 0.8;
  }
}

.banjjak2 {
  animation: starbanjjakR 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  will-change: transform;
}
.box3 {
  position: relative;
  left: 30px;
  top: 230px;
}
.banjjak-spacer {
  height: 300px;
}
