#friends-display-link {
  text-align: center;
  display: block;
  background-color: rgb(250, 249, 249);
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: -15px;
  transition: all 0.5s ease-in-out;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
  margin-left: 15px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding: 20px 0px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 18px;
}

@keyframes hidesplash-screen {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--main-color);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 160px;
  animation: hidesplash-screen 0.4s ease-in-out forwards;
  animation-delay: 0.5s;
}

#friends-display-link:hover {
  background-color: lightcoral;
  color: white;
}
